---
import { Debug } from 'astro/components';
// Layouts
import Base from "../layouts/Base.astro";
// Components
import CtaButton from "../components/CtaButton.astro";
import Divider from "../components/Divider.astro";
import DividerThin from "../components/DividerThin.astro";
import ImageBG from "../components/ImageBG.astro";
// import { Picture } from "@astrojs/image/components"
import { Picture } from "astro-imagetools/components";
import ContactForm from '../components/ContactForm.vue';



;
// Images
import hero from "../assets/images/hero-cutout.svg";
import approach from "../assets/images/approach-home.png";
import process from "../assets/images/process-home.png";
import profile from "../assets/images/profile.png";
import checkmark from "../assets/images/check-mark.svg";
// import rocks from "../assets/images/cta-bg.png"
import lake from '../assets/images/lake.png'

// Content

const headline =
  "Let's do something to produce positive change you will believe in";
const offerings = [
  "Get support from a qualified Behavioral Analyst",
  "Scientific and proven methods",
  "Witness change and improvement",
  "Find peace again",
  "Track your growth with personal reports",
];
const questions = [
  "Is your peace being disrupted?",
  "Fearful of aging?",
  "Need support for aging independently?",
  "Faced with supporting a challenging situation?",
];
---

<Base>
  <section id="hero" class="flex-row xl:flex-col-reverse justify-center hd:p-24 xl:p-4">
    <header class="w-1/2 xl:w-full">
      <div id="content" class="flex flex-col items-center xl:p-8">
        <div class="flex flex-col mb-36 xl:mb-16 text-midnight-blue xl:text-center font-dserif">
          <p class="w-3/5 xl:w-full h-2/3 text-6xl mb-4">Behavior Analysis and Therapy</p>
          <p class="h-1/3 text-4xl">for Adults, Elders and Their Caretakers</p>
        </div>
        <CtaButton>Schedule a Free Assessment</CtaButton>
      </div>
    </header>
    <aside class="w-1/2 self-start xl:w-full">
      <img class="w-full" src={hero} width="575" alt="" />
    </aside>
  </section>
  <section id="quote" class="flex-col justify-center">
    <Divider />
    <div id="content" class="relative text-center py-16 xl:p-12">
      {
        questions.map((question) => (
          <p class="text-midnight-blue text-5xl xs:text-3xl my-12 font-dsans">{question}</p>
        ))
      }
    </div>
    <Divider />
  </section>
  <section id="offerings-list" class="flex-col justify-center mb-5rem">
    <div class="py-24 lg:w-full">
      <h2 class="font-dserif text-midnight-blue text-5xl 2xl:text-4xl lg:w-2/3 lg:mx-auto lg:text-center">
        {headline}
      </h2>
    </div>
    <ul>
      {
        offerings.map((offer) => (
          <li class="flex flex-row md:flex-col place-items-center justify-start md:justify-center mb-4rem xl:mb-1rem">
            <img src={checkmark} alt="" width="60" height="60" />
            <span class="inline-block my-12 pl-2rem md:pl-1rem md:text-center">
              <p class="font-inter text-dim-gray text-3xl 2xl:text-2xl xs:text-xl">{offer}</p>
            </span>
          </li>
        ))
      }
    </ul>
    <DividerThin />
  </section>
  <section id="approach" class="flex-col items-center">
    <h2 class="font-dserif text-5xl text-center text-midnight-blue">Your circumstances</h2>
    <div class="w-full h-full flex flex-row 2xl:flex-col-reverse justify-center items-start 2xl:items-center p-16 xl:p-4">
      <div class="flex flex-col justify-between items-center w-2/3 mc:w-full h-full 2xl:text-center">
        <h3 class="font-dsans text-5xl text-midnight-blue pb-12">
          The Approach
        </h3>
        <p class="font-inter text-dim-gray text-3xl xs:text-xl px-48 2xl:px-0 pb-12">
          Aging is often tentative and frightful for the aging individual as
          well as for loved ones, when independence becomes an issue. While
          living at home is preferred, how and where one will age best is among
          the most fraught circumstances for a family.
        </p>
        <!-- <CtaButton>Discover the Approach</CtaButton> -->
      </div>
      <div class="relative w-1/5 2xl:w-4/5 md:w-4/5 mc:w-full 2xl:m-8">        
          <Picture
            src="/src/assets/images/approach-home.png"
            sizes=""
            format="webp"
            alt=""
          />
        <ImageBG width={approach.width} height={approach.height} />
      </div>
    </div>
  </section>
  <section id="process" class="flex-col">
    <div
      class="w-full h-full flex flex-row-reverse 2xl:flex-col-reverse justify-center items-start 2xl:items-center p-16 xl:p-4"
    >
      <div class="flex flex-col justify-between items-center w-2/3 mc:w-full h-full 2xl:text-center">
        <h3 class="font-dsans text-5xl text-midnight-blue pb-12">
          The Process
        </h3>
        <p class="font-inter text-dim-gray text-3xl xs:text-xl px-48 2xl:px-0 pb-12">
          When life presents changes that disrupt how you contact independence
          and peace, finding a Behavioral Analyst with a proven method is key.<br
          />
          Thank to several types of assessments, I will guide you and help you reach
          your goal.
        </p>
        <!-- <CtaButton>Discover the Process</CtaButton> -->
      </div>
      <div class="relative w-1/5 2xl:w-4/5 2xl:m-8">
        <Picture
          src="/src/assets/images/process-home.png"
          sizes=""
          format="webp"
          alt=""
        />
        <ImageBG width={process.width} height={process.height} />
      </div>
    </div>
  </section>
  <section id="profile" class="flex-col">
    <div class="w-full h-full flex flex-row justify-center 2xl:flex-col-reverse items-start 2xl:items-center p-16 xl:p-4">
      <div class="flex flex-col justify-between items-center w-2/3 mc:w-full h-full 2xl:text-center">
        <h3 class="font-dsans text-5xl text-midnight-blue pb-12">
          Richard Breuner, your Behavioral Analyst
        </h3>
        <p class="font-inter text-dim-gray text-3xl xs:text-xl px-48 pb-12 2xl:px-0">
          I'm a native Californian but have lived in Reno for the last 8 years.
          Following a traditional life raising a family and a career in real
          estate, I decided to go back to school to study psychology at UNR. In
          addition to my Master's degree in Psychology, I am a Board Certified
          Behavior Analyst (BCBA), and a licensed Behavior Analyst in Nevada and
          an Aging in Place Specialist.
        </p>
        <!-- <CtaButton>About Me</CtaButton> -->
      </div>
      <div class="relative w-1/5 2xl:w-4/5 2xl:m-8">
        <Picture
          src="/src/assets/images/profile.png"
          format="webp"
          alt=""
        />
        <ImageBG width={profile.width} height={profile.height} />
      </div>
    </div>
  </section>
  <!-- <section id="cta" class="flex-col mt-10rem">
    <Picture 
      alt="" 
      src="/src/assets/images/cta-bg.png"
     />
   <div class="flex flex-row justify-center items-center w-full h-full">
      <div id="cta-card" class="flex flex-col justify-evenly items-center w-2/5 h-1/2 bg-white shadow-md">
        <div id="content" class="h-full flex flex-col justify-between items-center p-12">
          <h2 id="card-header" class="font-dserif text-5xl text-midnight-blue" >Let's Talk</h2>
          <p id="card-chaser" class="font-dsans text-center text-3xl text-midnight-blue">
            The first step in therapy is talking. Let&#039;s find a time where we
            can meet and talk about what's on your mind.
          </p>
          <CtaButton>Schedule a Free Assessment</CtaButton>
        </div>
      </div>
   </div>
  </section> -->
  <section class="flex-col relative">
    <!-- <Picture alt="" sizes="" src="img/lake.png" format="webp" /> -->
    <Picture 
    alt="" 
    src="img/lake.png"
    artDirectives={[
      {
        media: "(max-aspect-ratio: 16/9)",
        src:"img/lake.png",
        width: 1024,
        height: 1280,
        format: ["webp"],
        fallbackFormat: "png",
        includeSourceFormat: false,
        fit: 'cover',
        position: 'right'
      },
    ]}
    />
    <div class="absolute flex flex-row justify-center items-center w-full h-full">
        <div class="flex flex-col justify-evenly items-center w-full h-4/5 bg-white shadow-md">
          <div class="w-full h-full flex flex-col justify-evenly items-center p-12 z-5">
            <h2 class="font-dserif text-5xl text-midnight-blue" >Let's Connect</h2>
              <ContactForm client:load />
          </div>
        </div>
    </div>
  </section>
</Base>

<style>
  section {
    @apply w-full items-center flex bg-white overflow-x-hidden;
  }
  span > picture {
    z-index: 3;
  }
</style>
