---
import "@fontsource/abeezee";
import "@fontsource/acme";
import "@fontsource/dm-sans";
import "@fontsource/dm-serif-text";
import "@fontsource/hanuman";
import "@fontsource/inter";
import "@fontsource/roboto";
import "virtual:windi.css";
import "virtual:windi-devtools";
import "../styles/base.css";
import MobileIcon from "./blocks/MobileIcon.astro";
import Logo from "./blocks/Logo.astro";

let title = "New Trend Adult Behavior Analysis";
const year = new Date().getFullYear();
const navLinks = [
  {
    route: "/approach",
    label: "Approach",
  },
  {
    route: "/assessment",
    label: "Assessment",
  },
  {
    route: "/about",
    label: "About",
  },
  {
    route: "/contact",
    label: "Contact",
  },
];
---

<html
  lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="-z-5">
    <header>
      <div
        class:list={["header-logo"]}
      >
        <Logo />
      </div>
      <nav>
        <ul
          class:list={[
            "header-nav-list"
          ]}
        >
          {
            navLinks.map((link) => (
              <li
                class:list={[
                  "4k:text-4xl",
                  "hd:text-3xl",
                  "2xl:my-3",
                  "mx-12",
                ]}
              >
                <a
                  href={link.route}
                  class:list={[
                    "block",
                    "uppercase",
                    "no-underline",
                  ]}
                >
                  {link.label}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
      <MobileIcon />
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <section
        class:list={[
          "footer-content"
        ]}
      >
        <div class:list={["footer-logo"]}>
          <Logo />
        </div>
        <nav
          class:list={[
            "lg:row-start-2"
          ]}
        >
          <ul
            class:list={[
              "footer-nav-list"
            ]}
          >
            {
              navLinks.map((link) => (
                <li class:list={[]}>
                  <a
                    href={link.route}
                    class:list={[
                      "block",
                      "uppercase",
                      "no-underline",
                      "relative",
                      // "transition-colors duration-300 delay-150 ease-in",
                      // 'after:(content-[""] absolute left-0 bottom-0 h-full w-0 transition-width duration-300 ease-in bg-white -z-1)',
                      // "hover:(text-[#0799d3] after:w-full)",
                    ]}
                  >
                    {link.label}
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>
        <div
          id="contact-info"
          class:list={[
            "contact-card"
          ]}
        >
          <p class:list={["flex", "flex-col"]}>
            <span>Richard W. Breuner</span>
            <span>MA BCBA</span>
            <span><strong>New Trend Applied Behavior Analysis</strong></span>
            <span>
              <a href="tel:5304141388">+1(530)-414-1388</a>
            </span>
            <span class="mc:text-2xl">rbreuner@newtrendaba.com</span>
          </p>
        </div>
      </section>
      <section class:list={[
        "mt-16"
      ]} id="disclaimer">
        <p
          class:list={[
            "text-2xl",
            "block",
            "flex",
            "flex-row",
            "mc:flex-col",
            "items-center",
          ]}
        >
          <span class:list={["inline-block"]}
            >&nbsp;All Rights Reserved&nbsp;</span
          >
          <span class:list={["inline-block"]}
            >&nbsp;&copy; Newtrendaba.com&nbsp;</span
          >
          <span class:list={["inline-block"]}>&nbsp;{year}&nbsp;</span>
        </p>
      </section>
    </footer>
  </body>
</html>

<style >
  body,
  html {
    @apply 
      m-0
      p-0
      h-full
      w-full
      overflow-x-hidden
    ;
  }
  body {
    @apply 
      min-w-250px
      overflow-x-hidden
      min-h-screen
      grid
      grid-rows-[300px,1fr,auto];
  }
  header,
  footer {
    @apply 
      w-full 
      h-full
      grid
      place-items-center
      shadow-xl 
      z-3;
  }
  header {
    @apply
      4k:grid-cols-9
      md:flex
      md:flex-col
      place-content-center

    ;
  }
  footer {
    @apply
      flex
      flex-col
      py-16
    ;
  }
  header > nav {
    @apply
      4k:col-start-5 
      4k:col-end-9
      ;
  }
  .footer-content > nav {
    @apply
      xl:my-12
    ;
  }
  .header-nav-list {
    @apply
      flex
      4k:flex-row
      2xl:flex-col 
      lg:hidden
      basis-1/2
      justify-between
      items-center
      text-midnight-blue
      text-center
      w-full h-full
      list-none
      p-0 m-0
    ;
  }
  .footer-nav-list {
    @apply
      flex    
      flex-row
      hd:flex-col
      justify-center
      list-none
      text-midnight-blue
      text-center
      text-3xl
    ;
  }
  .footer-nav-list li {
    @apply
      px-8
      hd:py-4
    ;
  }
  .footer-content {
    @apply
      flex
      flex-row 
      xl:flex-col-reverse 
      w-11/12
      place-items-center
      justify-evenly
    ;
  }
  .contact-card {
    @apply
      text-midnight-blue
      leading-relaxed
      4k:text-3xl
      xl:text-2xl
      xs:text-3xl
      xl:text-center
      text-left
      ;
  }
  .header-logo {
    @apply 
      col-start-2 
      col-end-4
      lg:col-end-5
    ;
  }
  .footer-logo {
    @apply 
    ;
  }

  main {
    @apply min-w-200px
      w-full
      /* p-4 */
      my-0 mx-auto;
    /* outline: 2px dashed grey; */
  }
</style>
