---
import "@fontsource/abeezee";
import "@fontsource/acme";
import "@fontsource/dm-sans";
import "@fontsource/dm-serif-text";
import "@fontsource/hanuman";
import "@fontsource/inter";
import "@fontsource/roboto";
import "virtual:windi.css";
import "virtual:windi-devtools";
import "../styles/base.css";
import ContactCard from "./blocks/ContactCard.astro";
import NavLinks from "./blocks/NavLinks.astro";
import MobileIcon from "./blocks/MobileIcon.astro";
import Logo from "./blocks/Logo.astro";

let title = "New Trend Adult Behavior Analysis";
const year = new Date().getFullYear();
const navLinks = [
  {
    route: "/approach",
    label: "Approach",
  },
  {
    route: "/assessment",
    label: "Assessment",
  },
  {
    route: "/about",
    label: "About",
  },
  {
    route: "/contact",
    label: "Contact",
  },
];
---

<html
  lang="en"
  class:list={[
    // "xl:()",
    // "lg:()",
    // "md:()",
    // "sm:()",
    // "xs:()",
  ]}
>
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class:list={[]}>
    <header class:list={[]}>
      <div
        class:list={[
          // "row-start-1",
          // "col-start-2",
          // "col-end-4",
          // "2xl:(col-start-3 col-end-8)",
        ]}
      >
        <Logo />
      </div>
      <nav class:list={[]}>
        <ul
          class:list={[
            "header-nav-list"
          ]}
        >
          {
            navLinks.map((link) => (
              <li
                class:list={[
                  "text-4xl",
                  "mx-12",
                ]}
              >
                <a
                  href={link.route}
                  class:list={[
                    "block",
                    "uppercase",
                    "no-underline",
                    // "relative",
                    // "transition-colors duration-300 delay-150 ease-in",
                    // 'after:(content-[""] absolute left-0 bottom-0 h-full w-0 transition-width duration-300 ease-in bg-white -z-1)',
                    // "hover:(text-[#0799d3] after:w-full)",
                  ]}
                >
                  {link.label}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
      <MobileIcon />
    </header>
    <main class:list={[]}>
      <slot />
    </main>
    <footer class:list={[]}>
      <section
        class:list={[
          "footer-content"
        ]}
      >
        <span class:list={["row-start-1", "col-start-2", "col-end-4"]}>
          <Logo />
        </span>
        <nav
          class:list={[
            "text-5xl",
            "col-start-4",
            "col-end-4",
            // "hd:text-4xl",
            // "2xl:text-4xl",
          ]}
        >
          <ul
            class:list={[
              "footer-nav-list"
            ]}
          >
            {
              navLinks.map((link) => (
                <li class:list={["py-8"]}>
                  <a
                    href={link.route}
                    class:list={[
                      "block",
                      "uppercase",
                      "no-underline",
                      "relative",
                      // "transition-colors duration-300 delay-150 ease-in",
                      // 'after:(content-[""] absolute left-0 bottom-0 h-full w-0 transition-width duration-300 ease-in bg-white -z-1)',
                      // "hover:(text-[#0799d3] after:w-full)",
                    ]}
                  >
                    {link.label}
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>
        <div
          id="contact-card"
          class:list={[
            "w-min",
            "text-midnight-blue",
            "leading-relaxed",
            "text-4xl",
            "text-center",
          ]}
        >
          <p class:list={["flex", "flex-col"]}>
            <span>Richard W. Breuner</span>
            <span>MA BCBA</span>
            <span><strong>New Trend Applied Behavior Analysis</strong></span>
            <span>
              <a href="tel:5304141388">+1(530)-414-1388</a>
            </span>
            <span>rbreuner@newtrendaba.com</span>
          </p>
        </div>
      </section>
      <section class="row-start-2 row-span-full" id="disclaimer">
        <p
          class:list={[
            "text-4xl",
            "block",
            "flex",
            "flex-col",
            "items-center",
            // "4k:flex-row 2k:flex-row hd:flex-row",
          ]}
        >
          <span class:list={["inline-block"]}
            >&nbsp;All Rights Reserved&nbsp;</span
          >
          <span class:list={["inline-block"]}
            >&nbsp;&copy; Newtrendaba.com&nbsp;</span
          >
          <span class:list={["inline-block"]}>&nbsp;{year}&nbsp;</span>
        </p>
      </section>
    </footer>
  </body>
</html>

<style >
  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  body {
    @apply min-w-250px 
      overflow-x-hidden 
      min-h-screen
      grid 
      grid-rows-[300px,1fr,auto];
  }
  header,
  footer {
    @apply w-full h-full 
      grid 
      place-items-center 
      shadow-xl z-3;
  }
  header {
    @apply 
      grid-cols-9
      md:grid-cols-none
      /* 4k:grid-rows-1
      2k:grid-rows-1
      hd:grid-rows-1
      2xl:grid-rows-2 */
      place-content-center
      /* mc:(flex flex-col)
      md:(flex flex-col) */
    ;
  }
  footer {
    @apply 
      flex
      flex-col
      place-items-center
    ;
  }
  header > nav {
    @apply 
      col-start-5 col-end-9
      /* hidden */
      /* 4k:(block row-start-1 col-start-5 col-end-9)
      2k:(block row-start-1 col-start-5 col-end-9)
      hd:(block row-start-1 col-start-5 col-end-9)
      2xl:(block row-start-2 col-start-3 col-end-8) */
      /* 2xl:block */
      ;
  }
  .header-nav-list {
    @apply
      flex
      flex-row
      flex-col
      basis-1/2
      justify-between
      items-center
      text-midnight-blue
      text-center
      w-full h-full
      list-none
      p-0 m-0
    ;
  }
  .footer-nav-list {
    @apply 
      list-none
      h-min
      flex
      flex-col
      basis-full
      py-24
      justify-evenly 
      items-center
      text-midnight-blue
      text-center 
    /* 
      */
    ;
  }
  .footer-content {
    @apply
      h-full
      /* mc:flex
      mc:flex-col-reverse */
      flex
      flex-col-reverse
      justify-evenly
      items-center
      mb-24
      /* 4k:flex-row 2k:flex-row hd:flex-row 2xl:flex-row */
      /* 4k:w-full 2k:w-full hd:w-full 2xl:w-full  */
    /*  
    */
    ;
  }

  main {
    @apply min-w-200px 
      w-min 
      p-4 
      my-0 mx-auto;
    outline: 2px dashed grey;
  }
</style>
